{% extends 'ElleslandeBlogBundle:Default:base.html.twig' %}

{% block content %}
{% for item in posts %}
<h1>{{ item.post_subject|raw }}</h1>
<p>{{ item.post_text|raw }}</p>

{% endfor %}
{# 	{{ posts.subject }}, {{ posts.text }} écrit par #}
{% endblock %}
